
body {
    background: #000;
}
.section-banner {
    background: url("../image/design/1.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    height: 720px;
    /* height: 800px; */
}

.cursor {
    cursor: pointer;
}

.font-abel {
    font-family:  'Ultra', serif;
}

.font-serif {
    font-family: 'Anton', sans-serif;
}

.putih {
    color: #fff !important;
}

.abu {
    color: #ededed;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-100 {
    font-size: 100px;
}


/* ==================SET PADDING ===================== */

.pd-5-10 {
    padding: 3px 10px;
}

.pd-5 {
    padding: 5px;
}

.pd-10 {
    padding: 10px;
}

.pd-15 {
    padding: 15px;
}

.pd-20 {
    padding: 20px;
}

.pd-30 {
    padding: 30px;
}

.m-b-10{
    margin-bottom: 10px;
}

.m-b-20{
    margin-bottom: 20px;
}

.m-t-20{
    margin-top: 20px;
}

.m-b-30{
    margin-bottom: 30px;
}

.m-b-40{
    margin-bottom: 40px;
}

.m-b-50{
    margin-bottom: 50px;
}

.m-b-75{
    margin-bottom: 75px;
}

.m-b-100{
    margin-bottom: 100px;
}

.m-b-150{
    margin-bottom: 150px;
}

.m-b-200{
    margin-bottom: 200px;
}

.m-b-250{
    margin-bottom: 250px;
}

.m-b-300{
    margin-bottom: 300px;
}

.nav-item {
    border: 2px solid transparent;
}

.nav-item:hover {
    /* border-bottom: 1px solid #008edc; */
    border-bottom: 2px solid #c60000;
    transition: 1s;
}

.nav-link {
    padding: 0px !important;
}

.bold {
    font-weight: bold;
}

.left {
    text-align: left
}

.center {
    text-align: center
}

.right {
    text-align: right
}

.float-left {
    display: flex;
    justify-content: left;
}

.float-center {
    display: flex;
    justify-content: center;
}

.float-right {
    display: flex;
    justify-content: flex-end;
}

.set-logo {
    border-radius:4px; 
    margin-top: -7px; 
    background: #fff;
}

.set-next {
    BACKGROUND: rgba(0, 0, 0, 0.4);
    border: 1px solid #dcbc83;
    color: #fff;
    padding: 3px 15px;
    /* margin-top: 35px; */
}

.set-next:hover {
    BACKGROUND: rgba(0, 0, 0, 0.6);
    border: 1px solid #c60000;
    color: #fff;
    padding: 3px 15px;
    /* margin-top: 35px; */
}

.set-ocean {
    text-align: right;
    font-weight: 100;
    margin-top: -25px;
    margin-right: 25px;
}

.fb {
    background: transparent;
}

.fb:hover {
    color: #3b5998;
}

.tw {
    background: transparent;
}

.tw:hover {
    color: #08a0e9;
}

.ig {
    background: transparent;
}

.ig:hover {
    color: #dd2a7b;
}

.set-text {
    margin-left: 8px;
    margin-top: -40px;
    padding: .5rem 1rem;
    text-align: justify;
}