body {
    background: #151b31;
    font-family: 'Montserrat', sans-serif;
}

.color-abu {
    color: #e1e1e1 !important;
}

.color-abu1 {
    color: #848484 !important;
}

.color-ungu {
    color: #c907ca;
}

.color-ungu1 {
    color: #bc31e7;
}

.color-biru {
    color: #09c;
}

.bg-abu {
    background: #394055;
    color: #cacaca;
}

.bg-abu1 {
    background: #2b334d;
}

.bg-abu2 {
    background: #1e253d;
}

.bg-abu3 {
    background: #242a3e;
}


.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}


.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-24 {
    font-size: 24px;
}

.font-36 {
    font-size: 36px;
}

.font-40 {
    font-size:40px;
}

/* ==================SET PADDING ===================== */

.pd-5 {
    padding: 5px;
}

.pd-10 {
    padding: 10px;
}

.pd-15 {
    padding: 15px;
}

.pd-20 {
    padding: 20px;
}

.pd-30 {
    padding: 30px;
}

.m-b-10{
    margin-bottom: 10px;
}

.m-b-20{
    margin-bottom: 20px;
}

.m-b-30{
    margin-bottom: 30px;
}

.m-b-40{
    margin-bottom: 40px;
}

.m-b-50{
    margin-bottom: 50px;
}

.m-b-75{
    margin-bottom: 75px;
}

.m-b-100{
    margin-bottom: 100px;
}

.cursor {
    cursor: pointer;
}

.header-set {
    border-radius: 4px 4px 0px 0px;
}

.btn-search {
    font-size: 13px;
    padding: 0px 15px;
    background: #394055;
    color: #cacaca;
    border: 1px solid #09c;
    box-shadow: 0px 0px 3px 0px #09c;
}

.btn-search:hover {
    font-size: 13px;
    padding: 0px 15px;
    background: #09C;
    color: #FFF;
    border: 1px solid #09c;
    box-shadow: 0px 0px 3px 0px #09c;
}

.radius-15 {
    border-radius: 15px !important;
}

.form-set {
    background: #151b31;
    border: 1px solid #151b31;
}

.form-set:focus {
    background: #151b31;
    border: 1px solid #09c;
    box-shadow: 0px 0px 3px 0px #09c;
}

.form-control {
    box-shadow: none !important;
}

.form-control:focus {
    box-shadow: none !important;
}

.bulat {
    border-radius: 50px;
    border: 1px solid #09c;
}

.list-item {
    background: transparent !important;
    border: 0px;
    color: #cacaca;
    margin-left: -15px; margin-right: -15px;
}

.list-item:hover {
    background: #151b31 !important;
    border: 0px;
    color: #cacaca;
    margin-left: -15px; margin-right: -15px;
}