body {
    background: #151b31;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.navbar-set {
    background: #252d47;
}

.cursor {
    cursor: pointer;
}

.font-putih {
    color: #fff;
}

.putih {
    color: #fff !important;
}

.color-blue2 {
    color: #8e9ac4;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0)!important;
}

.shadow1 {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.bold {
    font-weight: bold;
}

.m-l-20 {
    margin-left: 20px;
}

.m-l-50 {
    margin-left: 50px;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

/* ==================SET PADDING ===================== */

.pd-5 {
    padding: 5px;
}

.pd-10 {
    padding: 10px;
}

.pd-15 {
    padding: 15px;
}

.pd-20 {
    padding: 20px;
}

.pd-30 {
    padding: 30px;
}

.m-b-10{
    margin-bottom: 10px;
}

.m-b-20{
    margin-bottom: 20px;
}

.m-b-30{
    margin-bottom: 30px;
}

.m-b-40{
    margin-bottom: 40px;
}

.m-b-50{
    margin-bottom: 50px;
}

.m-b-75{
    margin-bottom: 75px;
}

.m-b-100{
    margin-bottom: 100px;
}




.radius-3 {
    border-radius: 3px;
}

.radius-3-0 {
    border-radius: 3px 3px 0px 0px;
}

.radius-0-3 {
    border-radius: 0px 0px 3px 3px;
}

/* SETTING SEBELAH KIRI */

.w-270 {
    width:270px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.float-right {
    float: right;
}


.pd-min-15 {
    margin-left: -15px;
    margin-right: -15px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item1 {
    padding: .7rem 1.25rem;
}

.list-group-item1:hover {
    padding: .7rem 1.25rem;
    background: #1c2338;
    color: #09c;
}

.kiri {
    text-align: left;
}

.tengah {
    text-align: center;
}

.kanan {
    text-align: right;
}

.justify {
    text-align: justify;
}

.person-set {
    margin-left: -15px;
    margin-right: -15px;
    padding: 20px;
    background: #151b31;
}

/* ==========SIDE BAR================ */

.bg-sidebar {
    background: #252d47; 
    height:662px;
}

/* ==========CONTENT================ */

.inside-dashboard {
    padding: 30px 40px;
}

.set-img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 15px;
    position: relative;
}

.like {
    color: #fb4870;
}

.cmd {
    color: #00cc82
}

.share {
    color: #2dcbff;
}

.set-colom {
    /* background:#2e3858;  */
    background: #252d47;
    display: flex
}

.set-colom1 {
    background:#252d47; 
}

.set-colom2 {
    background:transparent; 
}

.flex-1 {
    flex: 1;
}

.flex-d {
    display: flex;
}

.text-field {
    /* background: #222b46; */
    background: #1d243c;
    border: 1px solid #2e3858;
    box-shadow: 0px !important;
}

.text-field:focus {
    background: #1d243c;
    border: 1px solid #2e3858;
    box-shadow: none !important;
}

.set-span {
    margin-left: 47px;
    margin-top: -10px;
}

.set-span1 {
    margin-top: -10px;
}

.btn-post {
    background: #09c;
    border: 1px solid #09c;
    color: #fff;
    border-radius: 3px;
    padding: 0px 10px;
}

.btn-post1 {
    background: #2e94ff;
    color: #fff;
    border: 1px solid #2e3858;
}

.btn-login {
    font-size: 16px;
    background: #09c;
    border: 1px solid #09c;
    color: #fff;
    padding: 2px 10px;
    border-radius: 3px;
}

/* .btn-post1:focus {
    background: #2c4f74;
    color: #fff;
    border: 1px solid #2e3858;
    
} */


.set-row {
    margin-left:0px;
    margin-right: 0px
}

.border-top1 {
    border-top: 1px solid #4b5a88;
}


.border-bottom1 {
    border-bottom: 1px solid #4b5a88;
}

.image-circle {
    border-radius: 50%;
}

.bg-profile {
    background: url("../image/eta.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.b-r-1 {
    border-right: 1px solid #a3a3a3;
}

.scroll-post {
    max-height: 400px;
    min-height: 400px;
    overflow-y: scroll;
}

.scroll-10 {
    max-height: 660px;
    min-height: 660px;
    overflow-y: scroll;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #2e3858;
}

#style-2::-webkit-scrollbar
{
	width: 5px;
	background-color: #394363;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #5f6886;
}

.btn-cmn {
    width: 100%;
    background: #1e2640;
    color: #09c;
    border: 1px solid #1e2640;
    padding: 5px;
    border-radius: 3px;
}

.btn-rep {
    background: #09c;
    border: 1px solid #09c;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
}

.btn-del {
    background: #d80000;
    border: 1px solid #d80000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
}

/* ==========CSS LOGIN========== */

.bg-login {
    top: 0;
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background: #000;
}

.bg-login img {
    opacity: 0.6;
    min-width: 100%;
    height: auto;
    min-height: 100%;
}

.kanan-login {
    position: absolute;
    height: 100%;
    background: rgba(37,45,71,0.6);
    top: 0;
    right: 0;
}

.m-t-35p {
    margin-top: 35%;
}

.field-login {
    background: transparent;
    border: 1px solid #09c;
}

.field-login:focus {
    background: transparent;
    border: 1px solid #09c;
}

#handap span {
    position: absolute;
    bottom: 0;
    left: 0;
 }

/* img {
    vertical-align: middle;
    border-style: none;
} */


