

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family:Poppins; */
    margin: 0px 0px 0px 0px !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #43bdab; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    font-size: 12px; /* Increase font size */
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}




/* ==============CSS NAVBAR================ */

.text-nav {
    bottom: 36%; 
    left: 21%;
}

.text-nav2 {
    /* bottom: 36%;  */
    left: 12%;
}

.carousel-caption {
    right: 0%;
}

.carousel-control-prev {
    left: 0rem;
}

.carousel-control-next {
    right: 0rem;
}

.navbar {
    position: fixed !important;
    right: 0 !important;
    left: 0 !important;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-height: 35px !important;
    line-height: 35px !important;
    background: transparent !important;
    z-index: 1030 !important;
    color: white;
}

.flex-right {
    justify-content: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.kiri {
    text-align: left !important;
}

.tengah {
    text-align: center;
}

.kanan {
    text-align: right;
}

.justify {
    text-align: justify;
}

.btn-more {
    margin-left: 15px;
    background: #43bdab;
    color: #fff;
    border: 1px solid #43bdab;
    border-radius: 20px;
    padding: 6px 16px;
    font-weight: bold;
}

.border {
    border: 1px solid #ced4da !important;
}

.btn-pay {
    background: transparent;
    border: 1px solid #43bdab;
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    color: #43bdab;
    font-weight: bold;
}

.btn-see {
    background: #43bdab;
    color: #fff;
    border: 1px solid #43bdab;
    border-radius: 20px;
    padding: 6px 16px;
    font-weight: bold;
    /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; */
}

.set-cari {
    position: absolute;
    margin-left: 10px;
}

.form-cari {
    background: rgba(0,0,0,0.6);
    line-height: 32px;
    border: 0px;
    padding: 0px 0px 0px 35px;
    border-radius: 15px;
    color: #fff;
    font-size: 12px;
}

.form-cari:focus {
    background: rgba(0,0,0,0.6);
    line-height: 32px;
    border: 0px !important;
    padding:0px 0px 0px 35px;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0px !important;
    font-size: 12px;
}

.btn-search {
    background: #43bdab;
    color: #fff;
    border: 1px solid #43bdab;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    font-weight: bold;
    /* font-weight: bold; */
}

.btn-search1 {
    background: #43bdab;
    color: #fff;
    border: 1px solid #43bdab;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    /* font-weight: bold; */
}

.get-pesan {
    position: relative;
    padding: 30px;
    z-index: 888;
    background: #fff;
    border-radius: 3px;
    margin-top: -47px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

/* .set-header {
    background-image: url("../image/main1.jpg");
} */

.set-header1 {
    background-image: url("../image/bahan/forest.jpg");
    height: 70vh;
}

.set-header2 {
    background-image: url("../image/bahan/gunung.jpg");
    height: 70vh;
}

.set-header22 {
    background-image: url("../image/bahan/gunung.jpg");
    height: 70vh;
}

.set-header3 {
    background-image: url("../image/bahan/forest2.jpg");
    height: 70vh;
}

.set-header4 {
    background-image: url("../image/bahan/contact.jpg");
    height: 70vh;
}

.set-header5 {
    background-image: url("../image/bahan/forest3.jpg");
    height: 70vh;
}

.set-header6 {
    background-image: url("../image/bahan/login.jpg");
    height: 40vh;
}

.nav-scroll {
    background: #fff;
    /*-webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);*/
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
    /*-webkit-transition: all .4s ease;*/
    transition: all .4s ease;
}

.set-nav {
    background: transparent !important;
}

.set-span {
    margin-left: -35px;
}

header{
    position: relative;
    background-attachment: fixed;
    /* height: 100vh; */
    width: 100%;
    z-index: 888;
}

.input-search {
    background: rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 6px 16px;
    font-size: 14px;
    color: #fff;
}

.input-search:focus {
    background: rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 6px 16px;
    font-size: 14px;
    color: #fff;
}


.nav-link {
	background:transparent;
	padding:0px;
	border-radius:4px;
}

.nav-link:hover {
    /* background:rgba(0,0,0,0.5); */
    /* border-bottom: 1px solid #; */
    color: #43bdab !important;
	padding:0px;
	border-radius:4px;
}

#topmarkotop .navbar-nav li.active > a {
	background-color: #09c;
	border-radius:4px;
} 

.set-faq {
    position: absolute;
    z-index: 1000;
    /* margin-left: 10%; */
    margin-top: 40%;
}

.set-faqp4 {
    position: absolute;
    z-index: 1000;
    margin-left: 20%;
    margin-top: 32%;
}

.set-faqp5 {
    position: absolute;
    z-index: 1000;
    margin-top: 32%;
}

.set-faq2 {
    position: relative;
    z-index: 1000;
    /* margin-left: 10%; */
    margin-top: 30%;
}


.carousel-indicators {
    bottom: 60px;
}
.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    border-radius: 10px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255,255,255,.1);
    border: 1px solid #fff;
}

/* ============CSS FONT============= */

.white {
    color: white !important;
}

.font-core {
    color: #2f9690;
}

.font-core2 {
    color: #43bdab;
}


.back-biru {
    background: #007bff;
}

.section-padding {
    padding: 80px 0px !important;
}

.section-padding-1 {
    padding: 50px 0px !important;
}

.section-padding-2 {
    padding: 120px 0px !important;
}

.section-padding-3 {
    padding: 20px 0px !important;
}

.section-padding-4 {
    padding: 0px 0px 50 0px !important;
}



.biru-2 {
    color: #007bff;
}

.abu {
    color: #aaa;
}

.putih {
    color: #fff;
}

.abu1 {
    color: #3b3b3b;
}

.hejo {
    color:#5abdab !important
}

.abu2 {
    color: rgb(141, 141, 141);
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}


.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

.font-26 {
    font-size: 26px;
}

.font-28 {
    font-size: 28px;
}

.font-32 {
    font-size: 32px;
}

.font-36 {
    font-size: 36px;
}

.font-40 {
    font-size: 40px;
}

.font-60 {
    font-size: 60px;
}

.font-70 {
    font-size: 70px;
}

.font-80 {
    font-size: 80px;
}

.bold {
    font-weight: bold;
}

.mt-5s {
    margin-top: 3.4rem;
}

.mt-10s {
    margin-top: 10.2rem;
}

.m-l-20{
    margin-left: 20px;
}

.m-l-50{
    margin-left: 50px;
}

.m-b-5{
    margin-bottom: 5px;
}

.m-b-10{
    margin-bottom: 10px;
}

.m-b-15{
    margin-bottom: 15px;
}

.m-b-20{
    margin-bottom: 20px;
}

.m-b-30{
    margin-bottom: 30px;
}

.m-b-40{
    margin-bottom: 40px;
}

.m-b-50{
    margin-bottom: 50px;
}

.m-b-100{
    margin-bottom: 100px;
}

.m-t-5{
    margin-top: 5px;
}

.m-t-10{
    margin-top: 10px;
}

.m-t-20{
    margin-top: 20px;
}

.m-t-80{
    margin-top: 80px;
}

.m-t-100{
    margin-top: 100px;
}

.m-t-150{
    margin-top: 150px;
}

.m-t-200{
    margin-top: 200px;
}

.m-t-250{
    margin-top: 250px;
}

.m-t-390{
    margin-top: 390px;
}

.pd-5 {
    padding: 5px;
}

.pd-10 {
    padding: 10px;
}

.pd-15 {
    padding: 15px;
}

.pd-20 {
    padding: 20px;
}

.pd-20-1 {
    padding: 5px 20px;
}

.pd-30 {
    padding: 30px;
}

.pd-100-0 {
    padding: 100px 0px;
}

/*SECTION PROJECT*/

.set-project {
    background-image: url("../image/section.jpg");
}

.st-header {
    background: rgba(0,0,0,0.8) !important;
    color: #fff !important;
    border-radius: 3px 3px 0px 0px !important;
}

.hire-me {
    position: relative;
    background-attachment: fixed;
}

.cover-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/*END SECTION PROJECT*/

/* CSS CONTENT */

.l-h-35 {
    line-height: 35px;
}

.l-h-75 {
    line-height: 75px;
}

.input-image {
    border: 1px solid #ced4da;
    border-radius: 3px;
    padding: 60px;
}

.set-img {
    padding: .25rem;
    background-color: transparent;
    border: 1px solid #dee2e6;
    border-radius: 10em !important;
    max-width: 80%;
    height: auto;
}

.set-img:hover {
    padding: .25rem;
    background-color: transparent;
    border: 1px solid #dee2e6;
    border-radius: 10em !important;
    max-width: 80%;
    height: auto;
}

.set-img1 {
    padding: .25rem;
    background-color: #fff;
    /* border: 1px solid #dee2e6; */
    border-radius: 10em !important;
    max-width: 80%;
    height: auto;
}

.wt-us {
    padding: 0px;
    border: 0px;
}

.set-pd {
    padding-right: 0px;
    padding-left: 0px;
}

.set-margin {
    margin-right: 0px;
    margin-left: 0px;
}

.n-card {
    position: relative;
    /* display: flex; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    /* border: 0px; */
    border-radius: .25rem;
}


.set-about {
    background: #43bdab;
}

.line-h80 {
    line-height: 80px;
}


/*SECTION CONTACT*/

.set-contact {
    background-image: url("../image/contact1.jpg");
}

/*END SECTION PROJECT*/


/*SECTION TESTIMONIAL*/


.set-testi {
    /* background-image: url("../image/testi1.jpg"); */
    background: #0f273a;
}


.set-bg1 {
    background-image: url("../image/bahan/forest.jpg");
    /* background: #f1f1f1; */
}

.bg-stories {
    background-image: url("../image/bahan/cat.PNG");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    /* height: auto; */
    height: 505px;
}


.st-card {
    background: transparent;
}

.st-card:hover {
    background: transparent !important;
    border: 0px !important;
    box-shadow: 0px !important;
}

/*END SECTION TESTINOMIAL*/


/*SET SECTION BLOG*/

.image-circle {
    border-radius: 50%;
}

/*END SET SECTION BLOG*/

/*SECTION CONTACT*/

.part-info {
    position: relative;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(200, 200, 200, 0.3)), to(transparent));
    background: linear-gradient(to right, transparent, rgba(200, 200, 200, 0.3), transparent);
    padding: 30px;
    margin-bottom: 50px;
}

.set-input {
    color: #fff;
    background: transparent;
    padding: 10px 15px;
    border-radius: 0;
    width: 100%;
    border: transparent;
    border: 1px solid #828282;
    margin-bottom: 15px;
    font-size: 12px;
}

/*END SECTION CONTACT*/



/*SECTION FOOTER*/

.footer {
    position: relative;
    background-color: #003d52;
    padding:80px 0 0 0;
}

ul#menu-bawah li{
    display: inline;
}

.set-fb {
    padding: 9px 12px;
    background: #45bdac;
    border-radius: 20px;
    color: #13413e;
}

.set-tw {
    padding: 9px 8px;
    background: #45bdac;
    border-radius: 20px;
    color: #13413e;
}

.set-ig {
    padding: 9px 9px;
    background: #45bdac;
    border-radius: 20px;
    color: #13413e;
}

.set-icon {
    background: #252525;
    border-radius: 45%;

}

.set-form {
    padding: 5px 10px;
    background-color: #002f41;
    border: 1px solid #002f41;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.set-form:focus {
    padding: 5px 10px;
    background-color: #002f41;
    border: 1px solid #002f41;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*END SECTION FOOTER*/


.pd-50 {
    padding: 50px;
}

.pd-50-0 {
    padding: 50px 0px;
}

.cursor {
    cursor: pointer;
}

.font-type {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.text-p {
    color: #777;
    font-size: 16px;
}

.border-bottom {
    border-bottom: 1px solid #eaeaea;
}

.border-1 {
    border: 1px solid #eaeaea;
}

.set-button {
    padding: 10px;
    background: #055e7b;
    border: 1px solid #055e7b;
    color: #fff;
}

.set-button:hover {
    padding: 10px;
    background: #09c;
    border: 1px solid #09c;
    color: #fff;
}

.back-skill {
    background: #fff;
}

.back-skill2 {
    background: #f1f1f1;
}

.p-absolute {
    position: absolute;
}

.card:hover {
    background: #fdfdfd;
    cursor: pointer;
    box-shadow: 0px 2px 4px 0px #cecece; 
} 

/* = SMOOTH */

#set1
{ 
    margin:50px; 
    padding:50px; 
    background-color:pink; 
}

/* .hideme */
.fade
{
    opacity:0;
}


.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* SETTING TEXT IMAGE */

.set-bl {
    position: absolute;
    top: 20px;
    left: 20px;
}

.set-bl-1 {
    position: absolute;
    bottom: 160px;
    left: 20px;
}

.set-bl-2 {
    position: absolute;
    bottom: 120px;
    left: 20px;
}

.set-bl-3 {
    position: absolute;
    bottom: 60px;
    left: 20px;
}

.set-bl-4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
 
    /* SETTING TEXT IMAGE KE 2 */


.set-blk {
    position: absolute;
    top: 20px;
    left: 20px;
}

.set-blk-1 {
    position: absolute;
    bottom: 90px;
    left: 20px;
}

.set-blk-2 {
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.set-blk-3 {
    position: absolute;
    bottom: 60px;
    left: 20px;
}

.set-blk-4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.overlay {
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255,255,255,0.1);
    color: #fff !important;
  }

.tes1:hover  .overlay {
    opacity: 1;
    background: rgba(0,0,0,0.7);
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
}

.carousel-indicators {
    bottom: -10px !important;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    border-radius: 10px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(0,0,0,.4);
    border: 1px solid #fff;
}   

.carousel-indicators .active {
    background-color: #333 !important;
}

.bottom1 {
    bottom: 60px!important;
}

/* MEDIA */

@media (min-width: 1024px){
    .bg-stories {
        background-image: url("../image/bahan/cat.PNG");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
        height: 505px;
    }
    .font-60 {
        font-size: 60px;
    }

    .respon-embed {
        width: 510px;
        height: 315px;
    }
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem;
    }
}

@media (min-width: 768px){
    .bg-stories {
        background-image: url("../image/bahan/cat.PNG");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
        height: 300px;
    }

    .font-60 {
        font-size: 32px;
    }

}

@media (max-width: 425px) { 

    .respon-embed {
        width: 360px;
        height: 215px;

    }

}

@media (max-width: 375px) {
    .get-pesan {
        position: relative;
        padding: 30px;
        z-index: 888;
        background: #fff;
        border-radius: 3px;
        margin-top: 47px;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }

    .bg-stories {
        background-image: url("../image/bahan/cat.PNG");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
        /* height: auto; */
        height: 200px;
    }

    #footer-bawah {
        display: none;
    }

    .m-tengah {
        text-align: center
    }

    .respon-embed {
        width: 345px;
        height: 215px;
    }
    
    .h-80-mobile {
        height: 60vh;
    }

}